@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #F5F5DC; /* Bege claro */
    --branco: #FFFFFF;
    --verde: #4CAF50; /* Verde */
    --marrom: #8B4513; /* Marrom */
    --amarelo: #FFD700; /* Amarelo */
    --verde-degrade: linear-gradient(97.54deg, #4CAF50 35.49%, #8BC34A 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* Estilos existentes */

.carousel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carousel-content {
    position: relative;
}

.carousel img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--branco);
    font-size: 30px;
    cursor: pointer;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    color: var(--branco);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-de-fundo);
}

header {
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 1em 0;
}

.produtores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.produtor {
    background-color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.galeria {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.galeria img {
    width: 30%;
    border-radius: 8px;
}

.produtor h2, .produtor p, .produtor a {
    margin: 0.5em 0;
}

.produtor a {
    color: var(--verde);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.produtor a i {
    margin-right: 0.5em;
}
